.about-header {
    position: relative;
    overflow: hidden;
    background-image: url('https://images.pexels.com/photos/4158/apple-iphone-smartphone-desk.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $white;
    z-index: 150;
    height: 100vh;
    border-radius: 100px;
    
    /* Add a pseudo-element to apply the brightness filter */
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: inherit; /* Inherit the background image */
        filter: brightness(50%);
        z-index: 102; /* Position it behind the text but above the background */
    }

    &__content {
        z-index: 103;
        position: absolute;
        top: 50%;
        left: 7%;
        @media screen and (max-width: 430px) {
            left: 5%;
            top: 20%;
            
        }
    }
}
